#  Copyright (c) 2020 Developer From Jokela.
#  @author developerfromjokela

"""
Fill in your Wilma setting for testing
"""

WILMA_SETTINGS = {
    'username': '',
    'password': '',
    'apikey': '',
    'server': ''
}
